# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

node_modules

### VisualStudioCode ###
.vscode
!.vscode/settings.json
!.vscode/tasks.json
.vscode/launch.json
!.vscode/extensions.json
#Tsconfig
/Src/tsconfig.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
#Ignores typescript map files which are not needed except for debuging  (i tink)
*.js.map

# End of https://www.gitignore.io/api/visualstudiocode