td{
border:1px solid grey;
width:35px;
height:35px;
color: grey;
text-align: center;
}

.black{
    background-color: rgb(153, 159, 168);
}

.white{
    background-color: rgb(221, 215, 215);
}

table {
    margin-left:auto; 
    margin-right:auto;
  }