td{
border:1px solid grey;
width:50px;
height:50px;
color: grey;
text-align: center;
font-size: xx-large;
}

.black{
    background-color: rgb(153, 159, 168);
}

.white{
    background-color: rgb(221, 215, 215);
}
td:active{
    background-color: blue;
}

table {
    margin-left:auto; 
    margin-right:auto;
  }